@charset "UTF-8";
html,
body {
  height: 100%;
}
body {
	  display: flex;
	  align-items: center;
	  padding-top: 40px;
	  padding-bottom: 40px;
	  background-color:#FFF;
	 /*  background-image: url('image/background.jpg');
	  background-size:1200px; */
}

/*  최소 가로길이 640px  */
@media (max-width: 640px) {
	
}

/* 로고 이미지 hover */
.img-logo {
	cursor: pointer;
}

/*  로그인 폼  */
.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-floating:focus-within {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control:focus {
  border-color: #A9CF33;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 207, 51, 0.6);
}

.custom-input:checked{
background-color:#F29228;
border-color: #A9CF33;
}

.custom-input:focus{
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 207, 51, 0.6);
}

.custom-btn {
	background-color:#F29228;
	border-color: #A9CF33;
}
.custom-btn:hover {
	background-color:#689D79;
}

.remember-holder{
	color: #689D79;
	text-align:left;
}


/*  ID찾기 PW찾기 회원가입 a태그  */
a:link { color: #689D79; text-decoration: none;}
a:visited { color: #689D79; text-decoration: none;}
a:hover { color: #689D79; text-decoration: underline;}

/* 네이버 이미지 hover */
.img-naver {
	cursor: pointer;
}